/* Reset de margens e preenchimentos padrão */
body {
    padding: 0;
    margin: 0;
}

/* Container principal */
.container {
    min-height: 100vh;
    background-color: black;
    overflow: hidden; /* Evita espaços extras ao aumentar o zoom */
}

.descrição {
    color: white;
}

/* Estilização do cabeçalho */
header {
    background-color: lightblue;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
}

header a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.a-lista li :hover {
    text-decoration: underline;
    opacity: 0.8;
}


.a-input li :hover {
    text-decoration: underline;
    opacity: 0.6;
}

/* Área do input e logo */
.a-input {
    display: flex;
    width: 40%;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

/* Estilização da logo */
.a-input img {
    height: 200px;
}

/* Barra de pesquisa */
header input {
    height: 30px;
    width: 550px;
    padding: 20px;
    color: gray;
}

/* Lista abaixo do input */
.a-input ul {
    position: absolute;
    top: 80px;
    left: 245px;
    font-size: 15px;
}

/* Itens da lista */
.a-input ul li {
    padding-right: 5px;
}

/* Área da lista de ícones no cabeçalho */
.a-lista {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-end;
}

.a-lista li :hover {
    text-decoration: underline;
    opacity: 0.6    ;
}

/* Foto do anúncio */
#foto_anuncio {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    margin-right: 90px;
}

/* Ícone do carrinho */
li img {
    height: 20px;
}


/* Lista de navegação */
header ul {
    position: absolute;
    top: 80px;
    left: 1055px;
    list-style: none;
    font-family: Arial;
    display: flex;
    gap: 10px;
}

.content-description {
    flex-grow: 1; /* Permite que a seção ocupe o espaço restante */
    color: white;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #202020;
    color: white;
    margin-top: 230px;
}

/* Responsividade */
@media screen and (max-width: 600px) {
    header {
        height: auto;
        padding: 10px;
    }

    .a-input img {
        height: 60px;
    }

    header input {
        width: 100%;
        padding: 5px;
    }

    .a-lista {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .sidebar {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .cards {
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .cards img {
        height: 150px;
    }

    footer {
        margin-top: 200px;
    }
}
