<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esportes aquáticos - Aorus</title>

    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/paginas.css')}}">

</head>
<body>

    <div class="container">
        <header>
            <div class="a-foto">
                <img src="{{url_for('static' , filename = 'imagens/imgs/aorussports.png')}}" alt="Logotipo da Aorus">
            </div>
            <div class="a-input">
                <input type="search" placeholder="Buscar produtos, marcas e muito mais...">
                <nav>
                    <ul>
                        <li><a href="{{url_for('index')}}">Página inicial</a></li>
                        <br>
                        <li><a href="{{url_for('categorias')}}">Categorias</a></li>
                        <br>
                    </ul>
                </nav>
            </div>
            <div class="a-lista">
                <ul>
                    {# Verifica se o usuário está autenticado #}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Olá, {{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('logout') }}">Sair</a></li>
                    {% else %}
                    <li><a href="{{ url_for('cadastro') }}">Cadastrar-se</a></li>
                    <br>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <br>
                    {% endif %}
                    <li><a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='imagens/imgs/carrinho.png') }}"  width="30"></a></li>
                </ul>
            </div>
        </header>

        <div class="sidebar">
            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/aqua/touca.webp') }}" alt="">
                <p>Touca para natação</p>
                <div class="preco">R$ 49,99</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/aqua/touca.webp') }}">
                        <input type="hidden" name="product_description" value="Touca">
                        <input type="hidden" name="product_price" value="R$ 49,99">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/aqua/camiseta.webp') }}" alt="">
                <p>Camisa Térmica Manga Longa</p>
                <div class="preco">R$ 109,90</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/aqua/camiseta.webp') }}">
                        <input type="hidden" name="product_description" value="Camiseta Térmica">
                        <input type="hidden" name="product_price" value="R$ 109,90">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/aqua/bolsa.webp') }}" alt="">
                <p>Bolsa Resistente a água</p>
                <div class="preco">R$ 99,90</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/aqua/bolsa.webp') }}">
                        <input type="hidden" name="product_description" value="Bolsa">
                        <input type="hidden" name="product_price" value="R$ 99,90">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/aqua/capa.png') }}" alt="">
                <p>Capa para prancha de surf</p>
                <div class="preco">R$ 98,90</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/aqua/capa.png') }}">
                        <input type="hidden" name="product_description" value="Capa para prancha">
                        <input type="hidden" name="product_price" value="R$ 98,90">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>
        </div>

        <div class="sidebar">
            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/aqua/colete.webp') }}" alt="">
                <p>Colete salva-vidas</p>
                <div class="preco">R$ 76,50</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/aqua/colete.webp') }}">
                        <input type="hidden" name="product_description" value="Colete salva-vidas">
                        <input type="hidden" name="product_price" value="R$ 76,50">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/aqua/oculos.webp') }}" alt="">
                <p>Óculos para natação</p>
                <div class="preco">R$ 50,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/aqua/oculos.webp') }}">
                        <input type="hidden" name="product_description" value="Òculos">
                        <input type="hidden" name="product_price" value="R$ 50,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/aqua/prancha.webp') }}" alt="">
                <p>Prancha de Surf Shortboard</p>
                <div class="preco">R$ 450,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/aqua/prancha.webp') }}">
                        <input type="hidden" name="product_description" value="Prancha de surf">
                        <input type="hidden" name="product_price" value="R$ 450,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/aqua/longa.webp') }}" alt="">
                <p>Long Jhon Manga Longa</p>
                <div class="preco">R$ 150,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/aqua/longa.webp') }}">
                        <input type="hidden" name="product_description" value="Long Jhon">
                        <input type="hidden" name="product_price" value="R$ 150,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>
            
        </div>

        <br>
        <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% include 'footer.html' %}

    </div>
</body>
</html>
