<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automobilismo - Aorus</title>

    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/paginas.css')}}">

</head>
<body>

    <div class="container">
        <header>
            <div class="a-foto">
                <img src="{{url_for('static' , filename = 'imagens/imgs/aorussports.png')}}" alt="Logotipo da Aorus">
            </div>
            <div class="a-input">
                <input type="search" placeholder="Buscar produtos, marcas e muito mais...">
                <nav>
                    <ul>
                        <li><a href="{{url_for('index')}}">Página inicial</a></li>
                        <br>
                        <li><a href="{{url_for('categorias')}}">Categorias</a></li>
                        <br>
                        <li><a href="#">Contato</a></li>
                        <br>
                        <li><a href="#">Ofertas do dia</a></li>
                    </ul>
                </nav>
            </div>
            <div class="a-lista">
                <ul>
                    {# Verifica se o usuário está autenticado #}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Olá, {{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('logout') }}">Sair</a></li>
                    {% else %}
                    <li><a href="{{ url_for('cadastro') }}">Cadastrar-se</a></li>
                    <br>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <br>
                    {% endif %}
                    <li><a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='imagens/imgs/carrinho.png') }}"  width="30"></a></li>
                </ul>
            </div>
        </header>

        <div class="sidebar">
            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/auto/capacete.jpg') }}" alt="Capacete de Automobilismo">
                <p>Capacete Senna Bell</p>
                <div class="preco">R$ 1500,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/auto/capacete.jpg') }}">
                        <input type="hidden" name="product_description" value="Capacete Senna Bell">
                        <input type="hidden" name="product_price" value="R$ 1500,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/auto/macacao.webp') }}" alt="Macacão de corrida">
                <p>Macacão de corrida Sparco</p>
                <div class="preco">R$ 800,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/auto/macacao.webp') }}">
                        <input type="hidden" name="product_description" value="Macacão de corrida Sparco">
                        <input type="hidden" name="product_price" value="R$ 800,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/auto/volante.png') }}" alt="Volante de corrida">
                <p>Volante de corrida</p>
                <div class="preco">R$ 2000,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/auto/volante.png') }}">
                        <input type="hidden" name="product_description" value="Volante de corrida">
                        <input type="hidden" name="product_price" value="R$ 2000,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/auto/cinto.webp') }}" alt="Cinto de segurança">
                <p>Cinto de segurança Takatkb</p>
                <div class="preco">R$ 350,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/auto/cinto.webp') }}">
                        <input type="hidden" name="product_description" value="Cinto de segurança Takatkb">
                        <input type="hidden" name="product_price" value="R$ 350,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>
        </div>

        <div class="sidebar">
            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/auto/luvas.jpg') }}" alt="Luvas de corrida">
                <p>Luvas de corrida</p>
                <div class="preco">R$ 120,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/auto/luvas.jpg') }}">
                        <input type="hidden" name="product_description" value="Luvas de corrida">
                        <input type="hidden" name="product_price" value="R$ 120,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/auto/suporte.webp') }}" alt="Suporte de câmera para cabeça">
                <p>Suporte de câmera</p>
                <div class="preco">R$ 80,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/auto/suporte.webp') }}">
                        <input type="hidden" name="product_description" value="Suporte de câmera para cabeça">
                        <input type="hidden" name="product_price" value="R$ 80,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/auto/relogio.webp') }}" alt="Relógio esportivo">
                <p>Relógio esportivo</p>
                <div class="preco">R$ 250,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/auto/relogio.webp') }}">
                        <input type="hidden" name="product_description" value="Relógio esportivo">
                        <input type="hidden" name="product_price" value="R$ 250,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/auto/jaqueta.webp') }}" alt="Jaqueta corta vento">
                <p>Jaqueta corta vento Mizuno</p>
                <div class="preco">R$ 220,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/auto/jaqueta.webp') }}">
                        <input type="hidden" name="product_description" value="Jaqueta corta vento Mizuno">
                        <input type="hidden" name="product_price" value="R$ 220,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>
        </div>

        <footer>
            <p>&copy; 2025 $ - Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>
