<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aorus - Seu Carrinho de Compras</title>

    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/carrinho.css')}}">

    <style>
        a {
            color: wheat;
        }
    </style>

</head>
<body>

    <div class="container">
        <header>
            <div class="a-foto">
                <img src="{{url_for('static' , filename = 'imagens/imgs/aorussports.png')}}" alt="Logotipo da Aorus">
            </div>
            <div class="a-input">
                <input type="search" placeholder="Buscar produtos, marcas e muito mais...">
                <nav>
                    <ul>
                        <li><a href="{{url_for('index')}}">Página inicial</a></li>
                        <br>
                        <li><a href="{{url_for('categorias')}}">Categorias</a></li>
                        <br>
                    </ul>
                </nav>
            </div>
            <div class="a-lista">
                <ul>
                    {# Verifica se o usuário está autenticado #}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Olá, {{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('logout') }}">Sair</a></li>
                    {% else %}
                    <li><a href="{{ url_for('cadastro') }}">Cadastrar-se</a></li>
                    <br>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <br>
                    {% endif %}
                    <li><a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='imagens/imgs/carrinho.png') }}"  width="30"></a></li>
                </ul>
            </div>
        </header>

        <h1 style="color: white;"><center>Seu carrinho</center></h1>

        <div class="cart-items">
            {% if cart_items %}
            {% for item in cart_items %}
            <div class="cart-card">
                <img src="{{ item.image }}" alt="{{ item.description }}">
                <p>{{ item.description }}</p>
                <p>{{ item.price }}</p>
                <form action="{{ url_for('remove_from_cart', item_index=loop.index0) }}" method="post" style="display:inline;">
                    <button type="submit" class="remove-button">X</button>
                </form>
        
            </div>
        {% endfor %}
    
        {% else %}
        <p style="color: white;">Seu carrinho está vazio.</p>
        {% endif %}
        </div>

        {% if cart_items %}
        <div class="checkout-section">
            <form action="{{ url_for('checkout') }}" method="post">
                <button type="submit" class="checkout-button">Finalizar Compra</button>
            </form>
        </div>
        {% endif %}
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% include 'footer.html' %}

    </div>

</body>
</html>
