<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciclismo - Aorus</title>

    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/paginas.css')}}">

</head>
<body>

    <div class="container">
        <header>
            <div class="a-foto">
                <img src="{{url_for('static' , filename = 'imagens/imgs/aorussports.png')}}" alt="Logotipo da Aorus">
            </div>
            <div class="a-input">
                <input type="search" placeholder="Buscar produtos, marcas e muito mais...">
                <nav>
                    <ul>
                        <li><a href="{{url_for('index')}}">Página inicial</a></li>
                        <br>
                        <li><a href="{{url_for('categorias')}}">Categorias</a></li>
                        <br>
                    </ul>
                </nav>
            </div>
            <div class="a-lista">
                <ul>
                    {# Verifica se o usuário está autenticado #}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Olá, {{ current_user.username }}</a></li>
                    <li><a href="{{ url_for('logout') }}">Sair</a></li>
                    {% else %}
                    <li><a href="{{ url_for('cadastro') }}">Cadastrar-se</a></li>
                    <br>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <br>
                    {% endif %}
                    <li><a href="{{ url_for('carrinho') }}"><img src="{{ url_for('static', filename='imagens/imgs/carrinho.png') }}"  width="30"></a></li>
                </ul>
            </div>
        </header>

        <div class="sidebar">
            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/ciclismo/capa.png') }}" alt="">
                <p>Capacete DaMatta</p>
                <div class="preco">R$ 180,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/ciclismo/capa.png') }}">
                        <input type="hidden" name="product_description" value="Capacete DaMatta">
                        <input type="hidden" name="product_price" value="R$ 180,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/ciclismo/kitpneu.webp') }}" alt="">
                <p>Kit para reparo de pneus</p>
                <div class="preco">R$ 78,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/ciclismo/kitpneu.webp') }}">
                        <input type="hidden" name="product_description" value="Kit para reparo de pneus">
                        <input type="hidden" name="product_price" value="R$ 78,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/ciclismo/gps.webp') }}" alt="">
                <p>Relógio GPS para corridas</p>
                <div class="preco">R$ 210,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/ciclismo/gps.webp') }}">
                        <input type="hidden" name="product_description" value="Relógio GPS">
                        <input type="hidden" name="product_price" value="R$ 210,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/ciclismo/suporte.webp') }}" alt="">
                <p>Suporte para celular</p>
                <div class="preco">R$ 109,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/ciclismo/suporte.webp') }}">
                        <input type="hidden" name="product_description" value="Suporte para celular">
                        <input type="hidden" name="product_price" value="R$ 109,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>
        </div>

        <div class="sidebar">
            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/ciclismo/bomba.jpg') }}" alt="">
                <p>Bomba Portátil Tramontina</p>
                <div class="preco">R$ 65,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/ciclismo/bomba.jpg') }}">
                        <input type="hidden" name="product_description" value="Bomba Portátil">
                        <input type="hidden" name="product_price" value="R$ 65,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/ciclismo/gopro.png') }}" alt="">
                <p>Câmera GoPro Hero 11</p>
                <div class="preco">R$ 280,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/ciclismo/gopro.png') }}">
                        <input type="hidden" name="product_description" value="GoPro Hero 11">
                        <input type="hidden" name="product_price" value="R$ 280,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/ciclismo/capac.jpg') }}" alt="">
                <p>Capacete Rontek RT-58</p>
                <div class="preco">R$ 195,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/ciclismo/capac.jpg') }}">
                        <input type="hidden" name="product_description" value="Capacete Rontek RT-58">
                        <input type="hidden" name="product_price" value="R$ 195,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>

            <div class="cards">
                <img src="{{ url_for('static', filename='imagens/ciclismo/luvass.jpg') }}" alt="">
                <p>Luvas Sling 100%</p>
                <div class="preco">R$ 77,00</div>
                <center>
                    <form action="{{ url_for('add_to_cart') }}" method="post">
                        <input type="hidden" name="product_image" value="{{ url_for('static', filename='imagens/ciclismo/luvass.jpg') }}">
                        <input type="hidden" name="product_description" value="Luvas Sling">
                        <input type="hidden" name="product_price" value="R$ 77,00">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                </center>
            </div>
        </div>

        <br>
        <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% include 'footer.html' %}

    </div>
</body>
</html>
