<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aorus - Compra Finalizada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Finalizar.css') }}">

</head>
<body>
    <div class="container">
        <h1>Compra Finalizada com Sucesso!</h1>
        <p>Obrigado por sua compra.</p>

        <h2>Total da Compra: {{ total_price }}</h2>

        <h3>Produtos Comprados:</h3>
        <ul>
            {% for product in bought_products %}
                <li>{{ product.description }} - {{ product.price }}</li>
            {% endfor %}
        </ul>
        
        <a href="{{ url_for('index') }}" class="back-home-button">Voltar à Página Inicial</a>
    </div>
</body>
</html>
